   <table>
        <th>Table</th>
        <th>Entree</th>
        <th>Sides</th>
        <th>Configurations</th>
        <th>Time</th>
        <th>&nbsp;</th>

        {% for object in object_list %}
            <tr>
                <td>{{ object.otable.name }}</td>
                <td>{{ object.entree.name }}</td>
                <td>{{ object.sides }}</td>
                <td>{{ object.configurations }}</td>
                <td>{{ object.updated_at }}</td>
                <td><a href="{% url 'put_up' id=object.id %}">Put Up</a></td>
            </tr>
        {% endfor %}

    </table>